{% extends "layout.html" %}
{% block content %}

<title>Kysymyksien lisäys</title>

<h1>Lisää kysymyksiä luomallesi aiheelle</h1>

<form action="/addquestions/{{ id }}" method="post">

<p>Kirjoita jokainen vastaus isolla alkukirjaimella</br>


<input type="hidden" name="topic_id" value="{{ id }}">
<p>
Kysymys: <br><input type="text" name="question"></br>
<p>
Vastaus: <br><input type="text" name="answer"></br>
<p>
<input type="submit" value="Lisää kysymys"></br>
</form>

<p>

<a href="/select">Olen lisännyt tarpeeksi kysymyksiä</a>

{% endblock %}
