<h1>Luo uusi aihe</h1>

<form action="/create" method="post">

<p>Aiheen nimi:<br>
<input type="text" name="name"></p>

<p>Vaikeusaste (Luku väliltä 1-5):<br>
<input type="text" name="difficulty"></p>

<p>Kysymykset<br>

<p>Kirjoita jokainen vastaus isolla alkukirjaimella<br>

<p>Kysymys 1:<br>
<input type="text" name="question1"></p>

<p>Vastaus 1:<br>
<input type="text" name="answer1"></p>

<p>Kysymys 2:<br>
<input type="text" name="question2"></p>

<p>Vastaus 2:<br>
<input type="text" name="answer2"></p>

<p>Kysymys 3:<br>
<input type="text" name="question3"></p>

<p>Vastaus 3:<br>
<input type="text" name="answer3"></p>

<p>Kysymys 4:<br>
<input type="text" name="question4"></p>

<p>Vastaus 4:<br>
<input type="text" name="answer4"></p>

<p>Kysymys 5:<br>
<input type="text" name="question5"></p>

<p>Vastaus 5:<br>
<input type="text" name="answer5"></p>


<input type="submit" value="Luo">

</form>

<p>
<a href="/">Etusivulle</a>
