<h1>Luo uusi aihe</h1>

<form action="/add" method="post">

<p>Aiheen nimi:<br>
<input type="text" name="name"></p>

<p>Kysymykset<br>

Kirjoita jokainen vastaus isolla alkukirjaimella

Kysymys 1:
<textarea name="question1" rows="1" cols="100">
</textarea></p>

Vastaus 1:
<textarea name="answer1" rows="1" cols="100">
</textarea></p>

Kysymys 2:
<textarea name="question2" rows="1" cols="100">
</textarea></p>

Vastaus 2:
<textarea name="answer2" rows="1" cols="100">
</textarea></p>

Kysymys 3:
<textarea name="question3" rows="1" cols="100">
</textarea></p>

Vastaus 3:
<textarea name="answer3" rows="1" cols="100">
</textarea></p>

Kysymys 4:
<textarea name="question4" rows="1" cols="100">
</textarea></p>

Vastaus 4:
<textarea name="answer4" rows="1" cols="100">
</textarea></p>

Kysymys 5:
<textarea name="question5" rows="1" cols="100">
</textarea></p>

Vastaus 5:
<textarea name="answer5" rows="1" cols="100">
</textarea></p>


<input type="submit" value="Luo">

<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

</form>

<p>
<a href="/">Etusivulle</a>
