{% extends "layout.html" %}
{% block content %}

<title>Kysymykseen vastaaminen</title>

<h2>Vastaa kysymyksiin isolla alkukirjaimella jotta vastaukset tunnistetaan oikeiksi</h2>

<form action="/end/{{ id }}" method="post">
<p>
<h3>Kysymys: {{ question }}</h3></br>
<p>
Vastauksesi: <br><input type="text" name="useranswer"></br>
<p>
<input type="hidden" name="question_id" value="{{ id }}">
<input type="hidden" name="user_id" value="{{ user_id }}">
<p>
<input type="submit" value="Lukitse vastaus"></br>
<p>
<p><a href="/select">Takaisin aihevalikkoon</a></br>
<p>

</form>

{% endblock %}
